In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('practice.csv')

In [12]:
X = data[['ID', '시술 유형']]
y = data[['ID', '임신 성공 여부']]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

In [14]:
X_train

                 ID 시술 유형
9434   TRAIN_198516   IVF
3614   TRAIN_192696   IVF
2108   TRAIN_191190   IVF
7773   TRAIN_196855   IVF
13529  TRAIN_202611   IVF
...             ...   ...
11284  TRAIN_200366   IVF
11964  TRAIN_201046   IVF
5390   TRAIN_194472   IVF
860    TRAIN_189942   IVF
15795  TRAIN_204877   IVF

[10000 rows x 2 columns]

In [15]:
X_test

                 ID 시술 유형
10650  TRAIN_199732   IVF
2041   TRAIN_191123   IVF
8668   TRAIN_197750   IVF
1114   TRAIN_190196   IVF
13902  TRAIN_202984   IVF
...             ...   ...
18928  TRAIN_208010   IVF
19296  TRAIN_208378   IVF
12777  TRAIN_201859   IVF
5279   TRAIN_194361    DI
11624  TRAIN_200706   IVF

[10000 rows x 2 columns]

In [18]:
y_train.to_csv('public.csv', index=False)

In [19]:
y_test.to_csv('private.csv', index=False)

In [20]:
y = pd.concat([y_train, y_test], axis = 0)

In [23]:
y['임신 성공 여부'] = 0

In [27]:
y.to_csv('sample_submission.csv', index=False)